

/*-----------------------------------*\
  #BANNER
\*-----------------------------------*/

.banner{
    min-height: 100vh;
    
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    background: url(../images/home/ciudad-vista-aerea-noche-estadio-unico-1024x680.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}

.banner-title{
    margin-top: 5rem;
    font-size: 4rem;
    font-family: var(--Playfair);
    line-height: 1.2;
    backdrop-filter: blur(1px);
}
.banner-title span{
    font-family: var(--Playfair);
    color: var(--exDark);
}
.banner p{
    padding: 1rem 0 2rem 0;
    font-size: 1.2rem;
    text-transform: capitalize;
    font-family: var(--Roboto);
    font-weight: 300;
    word-spacing: 2px;
}
.banner form{
    background: #fff;
    border-radius: 2rem;
    padding: 0.6rem 1rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.search-input{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    width: 100%;
    outline: 0;
    padding: 0.6rem 0;
    border: none;
}
.search-input::placeholder{
    text-transform: capitalize;
}
.search-btn{
    width: 40px;
    font-size: 1.1rem;
    color: var(--dark);
    border: none;
    background: transparent;
    outline: 0;
    cursor: pointer;
}


/*-----------------------------------*\
  #SECTION INFO
\*-----------------------------------*/

.info{
    padding: 4.5rem 0;
}

.info-content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem 0;
}
.title{
    text-align: center;
    padding: 1rem 0;
}
.title h2{
    font-family: var(--Playfair);
    font-size: 2.4rem;
}
.title p{
    text-transform: uppercase;
    padding: 0.6rem 0;
}



.info-item{
    cursor: pointer;
    margin: 1.5rem 0;
}
.info-img{
    position: relative;
    overflow: hidden;
}
.info-img::after{
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
}
.info-img img{
    transition:  all 0.5s ease;
}
.info-item:hover img{
    transform: scale(1.2);
}
.info-img span:first-of-type{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 10px;
    background: var(--exDark);
    color: #fff;
    padding: 0.25rem 1rem;
}
.info-img span:last-of-type{
    position: absolute;
    z-index: 1;
    bottom: 10px;
    right: 10px;
    color: #fff;
    font-weight: 700;
    font-size: 1.1rem;
}
.info-title{
    padding: 1rem;
    font-size: 1.2rem;
    text-align: center;
    width: 70%;
    margin: 0 auto;
}
.info-title a{
    color: var(--dark);
    text-decoration: none;
    text-transform: capitalize;
    font-family: var(--Playfair);
}

/*-----------------------------------*\
  #SECTION BLOG
\*-----------------------------------*/

.blog{
    background: #f9f9f9;
    padding: 4.5rem 0;
}


.blog-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    margin: 2rem 0;
}


.blog-img{
    position: relative;
}


.blog-img span{
    position: absolute;
    bottom: 10px;
    right: 10px;
    background: var(--exDark);
    color: #fff;
    font-size: 1.4rem;
    padding: 0.3rem 0.6rem;
}
.blog-text{
    margin: 2.2rem 0;
    padding: 0 1rem;
}
.blog-text span{
    font-weight: 300;
    display: block;
    padding-bottom: 0.5rem;
}
.blog-text h2{
    font-family: var(--Playfair);
    padding: 1rem 0;
    font-size: 1.65rem;
    font-weight: 500;
}
.blog-text p{
    font-weight: 300;
    font-size: 1.1rem;
    opacity: 0.9;
    padding-bottom: 1.2rem;
}
.blog-text a{
    font-family: var(--Roboto);
    font-size: 1.1rem;
    text-decoration: none;
    color: var(--dark);
    display: inline-block;
    background: var(--dark);
    color: #fff;
    padding: 0.55rem 1.2rem;
    transition: all 0.5s ease;
}
.blog-text a:hover{
    background: var(--exDark);
}

/*-----------------------------------*\
  #SWECTION ABOUT
\*-----------------------------------*/


.about{
    padding: 4.5rem 0;
}

.about-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.about-text{
    margin: 2rem 0;
}
.about-text p{
    font-size: 1.1rem;
    padding: 0.6rem 0;
    opacity: 0.8;
}


/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/



@media screen and ((min-width: 375px) and (max-width: 768px)){
    .home_header {
        padding: 1rem 2rem;
    }

    .home_header .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .home_header .navbar {
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
    }

    .home_header .navbar-content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .home_header .navbar-content a {
        padding: 0.4rem 0;
    }

    .home_header .navbar-brand {
        width: 150px;
        margin-bottom: 1rem;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .info-content{
      
        grid-template-columns: repeat(1, 1fr);
        
    }
    .info-item{
        margin: 0;
    }
    .blog-content{
        
        grid-template-columns: repeat(1, 1fr);
        
    }

    .about-content{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and ((min-width: 769px )and (max-width: 992px)){
    
    .home_header {
        padding: 1rem 2rem;
    }

    .home_header .navbar-container {
        flex-direction: column;
        align-items: flex-start;
    }

    .home_header .navbar {
        justify-content: center;
        width: 100%;
        margin-top: 1rem;
    }

    .home_header .navbar-content {
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .home_header .navbar-content a {
        padding: 0.4rem 0;
    }

    .home_header .navbar-brand {
        width: 150px;
        margin-bottom: 1rem;
    }
    .search-input{
        padding: 0.8rem 0;
    }
}

