@import "index.css";
@import "contact.css";
@import "noticias.css";
@import "turismo.css";
@import "cultura.css";


@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #111011;
    --exDark: #485843;
    --white: #ffffff;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.1);
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    
    line-height: 1.4;
    color: var(--dark);
    background: #eee ;
}

img{
    width: 100%;
    display: block;
}

.container{
    max-width: 1320px;
    margin-top: 2rem;
    padding: 0 1.2rem;
}


/*-----------------------------------*\
  #SECTION HEADER
\*-----------------------------------*/
.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
  
}



.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39, 0.6), transparent);
    z-index: 100;
}
.nav-logo p img{
    border-radius: 50%;
    width: 45%;
    display: block;
    transition: transform 0.7s;
    margin-top: 1rem;
}
.nav-menu ul{
    display: flex;
}
.nav-menu ul li{
    list-style-type: none;
}
.nav-menu ul li .link{
    text-decoration: none;
    font-weight: 500;
    color: var(--white);
    padding-bottom: 15px;
    margin: 0 25px;
}
.link:hover, .active{
    border-bottom: 2px solid var(--white);
}
.nav-button .btn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: transparent;
    
    border: 1px solid var(--exDark);
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
    
}

.btn:hover{
    background: rgba(255, 255, 255, 0.3);
}
.nav-button a {
    text-decoration: none;
    color: #fff;
}
#registerBtn{
    margin-left: 15px;
}

.nav-menu-btn{
    display: none;
}

/*-----------------------------------*\
  #SECTION FOOTER
\*-----------------------------------*/
footer{
    background: var(--exDark);
    color: #fff;
    text-align: center;
    padding: 2rem 0;
}
.social-links{
    display: flex;
    justify-content: center;
    margin-bottom: 1.4rem;
}
.social-links a{
    border: 2px solid #fff;
    color: #fff;
    display: block;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    text-decoration: none;
    margin: 0 0.3rem;
    transition: all 0.5s ease;
}

.social-links a:hover{
    background: #fff;
    color: var(--exDark);
}
.footer span{
    margin-top: 1rem;
    display: block;
    font-family: var(--Playfair);
    letter-spacing: 2px;
}

/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/



@media screen and ((min-width: 375px) and (max-width: 768px)){
    .nav-button{
        display: none;
    }
    .nav-menu.responsive{
        top: 100px;
    }
    .nav-menu{
        position: absolute;
        top: -800px;
        display: flex;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        width: 100%;
        height: 90vh;
        backdrop-filter: blur(20px);
        transition: .3s;
    }
    .nav-menu ul{
        flex-direction: column;
        text-align: center;
    }
    .nav-menu-btn{
        display: block;
       
    }
    .nav-menu-btn i{
        font-size: 25px;
        color: var(--white);
        padding: 10px;
        background: rgba(255, 255, 255, 0.2);
        border-radius: 50%;
        cursor: pointer;
        transition: .3s;
    }
    .nav-menu-btn i:hover{
        background: rgba(255, 255, 255, 0.15);
    }

    .nav-logo {
        display: none;
    }
    .search-input{
        padding: 0.8rem 0;
    }
    .info-content{
      
        grid-template-columns: repeat(1, 1fr);
        
    }
    .info-item{
        margin: 0;
    }
    .blog-content{
        
        grid-template-columns: repeat(1, 1fr);
        
    }

    .about-content{
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and ((min-width: 769px )and (max-width: 992px)){
    
    .header {
        min-height: 100vh;
    }

    .search-input{
        padding: 0.8rem 0;
    }
}

