@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

/* Estilos para el formulario de contacto */
:root {
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #1c1b1d;
    --exDark: #485843;

    --white: #ffffff;

    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.1);
}


/* header */
.header {
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--exDark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3%;
    box-shadow: var(--box-shadow);
}

.header .navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 2rem 9%;
    text-align: center;
    margin-right: 2rem;

}

.header .navbar a {
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;

}

.header .navbar-brand {
    display: block;
    width: 150px;
}


.header.navbar a:hover {
    opacity: 0.7;
}


.contact {
    max-width: 900px;
    margin: 200px auto 150px auto; /* Ajusta el margen superior según sea necesario */
    padding: 40px;
    height: auto;
    background:var(--white); /* Usa el color de fondo definido en :root */
    border-radius: 10px; /* Agrega bordes redondeados para suavizar la apariencia */
    box-shadow: var(--box-shadow);
}

.container-form{
    width: 100%;
   display:  grid;
   grid-template-columns: repeat(2,1fr);
   gap: 50px;
   
}
.container-form  h2{
   margin-bottom: 15px;
   font-size: 35px;

}
.container-form  p{
   font-size:   17px;
   line-height:  1.6;
   margin-bottom:  30px;

}
.container-form  a {
   font-size:  15px;
   display:  inline-block;
   text-decoration:  none;
   width:  100%;
   margin-bottom:  15px;
   color: black;
   font-weight: 500;
}
.container-form a i{
   color: orange;
   margin-right:  10px;
}
.container-form form  .campo, textarea{
   width:  100%;
   padding:  15px   10px;
   font-size: 15px;
   border: 1px solid #dbdbdb;
   margin-bottom: 20px;
   border-radius: 3px;
   outline: 0px;
}

.container-form  .btn{
   padding:  15px;
   font-size:  16px;
   border: none;
   outline: 0px;
   background: orange;
   color: white;
   border-radius: 3px;
   cursor: pointer;
   transition: all 300ms ease;
}

.container-form .btn:hover {
    color: orange;
    background-color: var(--white);
    border: 1px solid orange;
}

@media screen and (max-width: 540px) {

    .header .navbar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-right: 0;
        font-size: 10px;
    }

    

    .navbar a {
        
        padding-right: 1.2rem;
        padding-left: 1.2rem;
    }


    

    .heading {

        font-size: 3rem;

    }

    .categories-container {

        grid-template-columns: repeat(1, 1fr);

    }

    .site {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        align-items: center;
        gap: 5rem;
        margin-bottom: 30px;
        padding: 2rem;
    }

    .contact {
        max-width: 400px;
        margin: 150px auto 150px auto;
        
    }

    .contact .container-form {
       
       grid-template-columns: repeat(1,1fr);
    }

    .container-form .info-form {
        width: 70%;
    }

    .container-form form  .campo, textarea{
        width:  100%;
        padding: 15px 10px;
        
        
    }

    .container-form form textarea{
       width: 70%;
     
     }
}

@media screen and (min-width: 768px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }



}