@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --Playfair: 'Playfair Display', serif;
    --Quicksand: 'Quicksand', sans-serif;
    --Roboto: 'Roboto', sans-serif;
    --dark: #1c1b1d;
    --exDark: #485843;
    --white: #ffffff;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0.1);
}

*{
    padding: 0;
    margin: 0;
    font-family: var(--Quicksand);
}
body{
    line-height: 1.4;
    color: var(--dark);
    background: #eee ;
}
img{
    width: 100%;
    display: block;
}
.container{
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 1.2rem;
}
/*-----------------------------------*\
  #SECTION HEADER
\*-----------------------------------*/
.header {
    position: fixed;
    width: 100%;
    height: 4rem;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1000;
    background-color: var(--exDark);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem 3%;
    box-shadow: var(--box-shadow);
}



.header .navbar {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    padding: 2rem 9%;
    text-align: center;
    margin-right: 2rem;

}


.header .navbar-content a {
    text-transform: uppercase;
    font-family: var(--Roboto);
    letter-spacing: 1px;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.4rem 1rem;
    letter-spacing: 3px;
    transition: opacity 0.5s ease;

}
.header .navbar-content a:hover {
    opacity: 0.7;
}
.header .navbar-brand {
    display: block;
    width: 150px;
  
}
 .header .navbar-brand img {
    border-radius: 50%;
 }

/*-----------------------------------*\
  #SECTION NEWS
\*-----------------------------------*/

.news-section {
    margin-top: 15rem;
    width: 100%;
}

.news-section .section-content {
    width: 85%;
    margin: 20px auto;
}
 .section-content .title {
    width: 60%;
    text-align: center;
    margin: auto;
}

.section-content .title h2{
    font-size: 40px;
    color: var(--exDark);
    text-transform: uppercase;
}

.section-content .title p {
    font-size: 20px;
    color: var(--dark);
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-content .cards-news {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    margin: 25px auto;
}

.cards-news .card {
    width: 100%;
    background-color: var(--white);
    position: relative;
    border-radius: 10px;
}

.cards-news .card img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.cards-news .card .article {
    padding: 15px 20px;
}

.cards-news .card .article a {
    font-size: 24px;
    text-decoration: none;
    color: var(--dark);
}

.card .article p {
    font-size: 16px;
    margin-top: 10px 0 ;
}



/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/
@media screen and (max-width: 768px) {

    

    .header .navbar-content {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 2rem;
        margin-top: 2rem;
        margin-right: 0;
        font-size: 10px;
    }

    .header .navbar-brand {
        display: block;
        width: 150px;
    }  
    .section-content .cards-news {
       
        grid-template-columns: repeat(1, 1fr);
        
        
    }
    

  

    
}

@media screen and (max-width: 992px) {
    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-between;

    }



}


